.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem {
    padding: 10px;
    color: white;
}

.dialog {
    color: white;
}

.active {
    color: gold;
}

.messages {
    padding: 10px;
}

.message {

}